@model ProductsViewModel

@{
    ViewData["Title"] = "Каталог напитков";
}

<div class="product-page">
    <div class="page-header">
        <h1 class="page-title">Газированные напитки</h1>
    </div>

    <div class="filters-container">
        <div class="filter-select">
            <label class="filter-label">Выберите бренд</label>
            <select class="brand-select" asp-for="SelectedBrandID"
                    asp-items="Model.Brands">
                <option value="">Все бренды</option>
            </select>
        </div>

        <div class="price-filter">
            <label class="filter-label">Стоимость</label>
            <input type="range"
                   min="0"
                   max="200"
                   value=5>
            <span class="price-value">{priceValue} руб</span>
        </div>

        <button class="choose-button">Выбрать</button>
    </div>

    <section>
        <div class="product-grid">
            @foreach (var prod in Model.Products)
            {
                <div class="product-card">
                    <div class="product-image-container">
                        <img class="product-image" src="@prod.ImageUrl" />
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">@prod.ProductName</h3>
                        <div class="product-price">@prod.Price руб.</div>
                        <button type="button" class="">Выбрать</button>
                    </div>
                </div>
            }
        </div>
    </section>

</div>
