@using Drinkbox.Web.ViewModels
@model ProductsViewModel

@{
    ViewData["Title"] = "Каталог напитков";
}

<div class="product-page">
    <div>
        <h1 class="page-title">Газированные напитки</h1>
    </div>
    <div class="filters-container">
        <div class="filter-select">
            <label class="filter-label">Выберите бренд</label>
            <select class="brand-select" 
                    asp-items="Model.Brands">
                <option value="">Все бренды</option>
            </select>
        </div>
        <div class="price-filter">
            <label class="filter-label">Стоимость</label>
            <div class="f-inline">
                <label class="min-price">0 руб.</label>
                <label class="max-price">0 руб.</label>
            </div>
            <input type="range" min="0" max="200" value=0 step="5" />
        </div>
        <div class="button-container">
            @(await Component.InvokeAsync("Import"))
            @(await Component.InvokeAsync("CartSummary"))
        </div>
    </div>
    <section>
        <div class="product-grid">
            @await Html.PartialAsync("_ProductListPartial", Model)
        </div>
    </section>
    <script src="~/js/products.js"></script>
</div>
